Repository iScsc/blog.iscsc.fr, pull requests merged in 2024-06, with the labels that each got.

#14 Add article: Bofbof (intro pwn) Write-Up CTF FCSC 2021
  src/content/posts/bofbof-write-up/bofbof-write-up-1.png
  src/content/posts/bofbof-write-up/bofbof-write-up-2.png
  src/content/posts/bofbof-write-up/bofbof-write-up-3.png
  src/content/posts/bofbof-write-up/bofbof-write-up-4.png
  src/content/posts/bofbof-write-up/index.md
Labels: new post

#44 Post "Manage fork repository locally and remotely" article
  src/content/posts/manage-fork-repository-locally-and-remotely/convert-to-draft-1.png
  src/content/posts/manage-fork-repository-locally-and-remotely/create-pull-request-1.png
  src/content/posts/manage-fork-repository-locally-and-remotely/fork-creation-1.png
  src/content/posts/manage-fork-repository-locally-and-remotely/fork-creation-2.png
  src/content/posts/manage-fork-repository-locally-and-remotely/fork-creation-3.png
  src/content/posts/manage-fork-repository-locally-and-remotely/index.md
  src/content/posts/manage-fork-repository-locally-and-remotely/sync-your-fork-1.png
  src/content/posts/manage-fork-repository-locally-and-remotely/working-on-your-fork-1.png
Labels: Priority - High, new post

#62 Update deprecated Actions version
  .github/workflows/build_and_deploy.yml
  .github/workflows/deploy_dev.yml
  .github/workflows/pytest.yml
Labels: maintenance, Priority - High
